

$grid-breakpoints: 
 (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px);

//colors
$main: #ffffff;
$second: rgb(37, 37, 37);
$accent: #058D97;
$dark: $second;
//bootstrap colors

$primary: $main;
$secondary: $accent;
$info: $accent;

// font 
$mainfont: poppins,
Sans-serif,
Roboto;

//Fontsizes

$h1: 48.83px;
$h2: 39.06px;
$h3: 31.25px;
$h4: 25px;
$h5: 20px;
$p: 16px;
$navtopbar: 12px;


//Margins & Paddings Margins & paddings  
// // H1 and bigger stuff 32px
// // H2, h3 and medium stuff 24px and 18px
// // P and smaller stuff 12px and 18px 
// Cards padding 24px 

$big: 32px;
$medium-big: 24px;
$medium-small: 18px;
$small: 12px;
$pcards: 24px;
$extrasmall: 8px;



$navbar-light-hover-color:rgba($main, .7);

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/////////////////////////TOPBAR///////////////////////////////////
/// /////////////////////////////////////////////////////////////

#topBar {
  font-family: $mainfont;
  font-size: $navtopbar;
  //background: linear-gradient($second, black);
  padding: $small;
  color: $main;
  padding-left: $pcards;
  padding-bottom: 4px;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid rgba(144, 144, 144, .25);

  &:hover {
    background-color: opacify($color: transparent, $amount: 0.4);
  }
}

a {
  &:hover {
    opacity: 0.5;
  }
}

img {
  &.icon {
    vertical-align: top;
    padding-bottom: 5px;
  }

  //imgAboutUs
  &#imgAboutUs {
    width: 100%;
    align-content: left;
  }

}

#topBar a {
  text-decoration: none;
  color: $primary;
}

////////////////////////NAVBAR///////////////////////////////////
/// /////////////////////////////////////////////////////////////

// //.navbar-nav .nav-link {
//     color: $main;
//     padding-right: 0.5rem;
//     padding-left: 50px;
//     padding-left: $pcards;
//     text-decoration: none;
//     font-size: $p;
//     text-align: left;
//     font-family: $mainfont;
//     float: left;
//   }



.navbar-toggler {
  background-color: $accent;
}

/////////////////////////HERO///////////////////////////////////
/// /////////////////////////////////////////////////////////////
/// 
/// bg-image
 .bg-image {
  width: 100%;
  height: 600px;
  background: url('https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  color: $main;
  text-shadow: 1px 1px $second;
  font-size: 8vw;
  text-align: center;
  padding-top: 130px;
  font-family: $mainfont;

}

// ABOUT US SECTION 

p,
.about-us {
  color: $main;
}

.about-us h2 {
  margin-top: 30px;
  text-align: center;
}

#imgAboutUs {
  margin-top: 30px;
  border-radius: 5px;
}
// OUR SERVICES

.title{
  color: $accent;
  text-align: center;
}

.col-md-8 {
  border-style: solid;
  border-color: $main;
  border-radius: 20px;
  padding: 20px;

  &:hover {
    border-color: #ffffff29;
  }
}



// TO KEEP IN MIND FOR IIMAGE RELATIVE TO DIV 
#fintech {
  position: relative
}
.fintech-image {
  position: absolute;
  left: -56px;
  top: -69px;

  @media (min-width: 320px) and (max-width: 767px) {
    position: absolute;
    top: -50px;
    left: 285px;
    height: 112px;
}
}

#medtech {
  position: relative;
}

.medtech-image {
  position: absolute;
  left: -79px;
  top: -75px;
  
  @media (min-width: 320px) and (max-width: 767px) {
    position: absolute;
    top: -50px;
    left: 285px;
    height: 112px;
    
}
}

#customWork {
  position: relative;
}

.custom-work-image {
  position: absolute;
  left: -56px;
  top: -82px;
  
  @media (min-width: 320px) and (max-width: 767px) {
    position: absolute;
    top: -50px;
    left: 285px;
    height: 112px;
}
}

//TECHNOLOGIES//

.technologies ul li {
  width: 122px;
  min-width: 90px;
  min-height: 90px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  filter: grayscale(100%);

  &:hover {
    opacity: 0.5;
  }
}



#technologies {
background-color: #ffffff; 
padding-top: 20px;

&:hover {
  opacity: 1;
}
}


// FOOTER //
